.dashboard-card{
    border: 1px solid rgba(104, 104, 104, 0.8);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    width: 250px;
    cursor: pointer;
}

.dashboard-card:hover{
    box-shadow: 8px 8px 8px rgba(0, 0, 0, 0.4);
}

.dashboard-card-img-container{
    background-color: #FFD039;
    align-items: center;
}

.dashboard-card-title{
    background-color: #543B14;
    min-height: 45px;
}

.dashboard-card-p{
    color: white;
    margin: 0;
    margin-left: 15px;
    padding-top: 5px;
    font-size: 18px;
}

.dashboard-card-img{
    object-fit: fill;
    height: 170px;
    width: 250px;
}

.modal{
    border: none;
    /* position: absolute;
    top: 50%;
    left: 50%; 
    transform: translate(-50%, -50%);  */
    background-color: #FFD039; 
    width: 40vw; 
    height: 60vh;
    padding: 20px;
}

.modal-img{
    height: 80px;
}

.modal-description{
    padding: 20px;
    font-size: 22px;
}

.modal-button{
    font-size: 18px;
    padding: 8px 15px;
    background-color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.modal-action{
    background-color: #FFD039;
    padding: 20px;
}

.headphone-img{
    height: 200px;
}

.headphone-description{
    font-size: 25px;
    font-weight: bold;
    letter-spacing: 4px;
    text-align: center;
}